 
    <div class="header">
<%- include('./marquee') %>
      <div
        class="mx-auto nav flex flex-row gap-5 justify-between py-1  sm:px-20 px-2  items-center border-b border-[#1c1c1c]"
      >
        <div class="logo">
          <img src="/images/imgs/logo.svg" class="sm:w-[125px] sm:h-[73px] w-[115px] h-[63px]"  />
        </div>
        <div class="nav-icons">
          <ul class="flex sm:gap-5 gap-3 items-center">
            <li>
              <img
                src="/images/imgs/search-icon.svg"
                class="sm:w-[24px] sm:h-[24px] w-[20px] h-[20px]"
                alt=""
              />
            </li>
            <li>
              <img
                src="/images/imgs/cart-icon.svg"
              class="sm:w-[24px] sm:h-[24px] w-[20px] h-[20px]"
                alt=""
              />
            </li>
            <li>
              <img
                src="/images/imgs/uesr-icon.svg"
           class="sm:w-[24px] sm:h-[24px] w-[20px] h-[20px]"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>


 
