<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <div class="admin-container">
      <div class="admin flex md:flex-row flex-col gap-5">
        <!-- ------ Sidebar -->
        <div
          class="side-bar hidden md:block bg-charcolblack py-20 px-3 lg:w-[20%] md:w-[25%] h-screen text-ivorywhite"
        >
          <div class="flex flex-col gap-8 w-full px-2">
            <div class="details flex flex-col gap-5">
              <div
                class="addproductbtn cursor-pointer bg-ivorywhite px-3 py-4 text-charcolblack w-full flex font-semibold text-[16px] justify-between"
              >
                <span> Add Products </span>
                <img src="/images/imgs/add.svg" alt="" />
              </div>
              <div
                class="allproductbtn cursor-pointer bg-ivorywhite px-3 py-4 text-charcolblack w-full flex font-semibold text-[16px] justify-between"
              >
                <span> All Products </span>
                <img src="/images/imgs/all.svg" alt="" />
              </div>

              <div
                class="alluserbtn cursor-pointer bg-ivorywhite px-3 py-4 text-charcolblack w-full flex font-semibold text-[16px] justify-between"
              >
                <span> All Users </span>
                <img src="/images/imgs/users.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <!-- ----- Responsive Sidebar -->
        <div
          class="side-bar md:hidden block w-full bg-charcolblack sm:py-20 py-5 sm:px-5 px-3 w-full text-ivorywhite"
        >
          <div class="details flex md:flex-col flex-row gap-5">
            <div
              class="addproductbtn sm:bg-ivorywhite sm:px-3 sm:py-4 px-0 py-2 text-charcolblack w-full flex font-semibold text-[16px] sm:justify-between justify-center"
            >
              <span class="sm:block hidden cursor-pointer"> Add Products </span>
              <img src="/images/imgs/add.svg" alt="" class="" />
            </div>
            <div
              class="allproductbtn sm:bg-ivorywhite sm:px-3 sm:py-4 px-0 py-2 text-charcolblack w-full flex font-semibold text-[16px] sm:justify-between justify-center"
            >
              <span class="sm:block hidden cursor-pointer"> All Products </span>
              <img src="/images/imgs/all.svg" alt="" />
            </div>

            <div
              class="alluserbtn sm:bg-ivorywhite sm:px-3 sm:py-4 px-0 py-2 text-charcolblack w-full flex font-semibold text-[16px] sm:justify-between justify-center"
            >
              <span class="sm:block hidden cursor-pointer"> All Users </span>
              <img src="/images/imgs/users.svg" alt="" />
            </div>
          </div>
        </div>

        <!-- ---- the dynamic part -->
        <!-- -- Add Product -->
        <div class="addproduct-container py-20 px-3 sm:w-[70%] w-full hidden">
          <div class="heading">
            <p class="font-semibold poppins text-3xl">Create Products</p>
          </div>
          <div class="addproduct-form sm:p-10 p-5 sm:w-[50%] w-full">
            <div>
              <p class="font-medium poppins text-xl pb-5">Product Image</p>
              <form
                class="flex flex-row items-center gap-4 items-start bg-white p-6 transition shadow-md"
              >
                <!-- Custom Upload Button -->
                <label
                  for="imageUpload"
                  class="cursor-pointer bg-golden text-white px-4 py-2 font-medium"
                >
                  📂 Choose Image
                </label>

                <!-- Hidden Input -->
                <input
                  type="file"
                  id="imageUpload"
                  name="image"
                  accept="image/*"
                  class="hidden"
                />

                <!-- File Name Display -->
                <span id="fileName" class="text-sm text-gray-500 italic"
                  >No file chosen</span
                >
              </form>
            </div>
          </div>
          <div class="addprodcut-form sm:p-10 p-5    w-full">
            <p class="font-medium poppins text-xl pb-5">Product Details</p>
            <div class="w-full">
              <form action="" class="flex flex-wrap gap-4">
                <input
                  type="text"
                  placeholder="Product Name"
                  class="p-4 border border-[#d4af37] placeholder-[#1c1c1c] outline-none sm:w-[48%] w-full"
                />
                <input
                  type="number"
                  placeholder="Product Price"
                  class="p-4 border border-[#d4af37] placeholder-[#1c1c1c] outline-none sm:w-[48%] w-full"
                />
                <input
                  type="text"
                  placeholder="Badge"
                  class="p-4 border border-[#d4af37] placeholder-[#1c1c1c] outline-none sm:w-[48%] w-full"
                />
                <input
                  type="text"
                  placeholder="Cateogry"
                  class="p-4 border border-[#d4af37] placeholder-[#1c1c1c] outline-none sm:w-[48%] w-full"
                />
                    <input
                  type="number"
                  placeholder="Amount of Product"
                  class="p-4 border border-[#d4af37] placeholder-[#1c1c1c] outline-none sm:w-[48%] w-full"
                />
                <input
                  type="number"
                  placeholder="Discount"
                  class="p-4 border border-[#d4af37] placeholder-[#1c1c1c] outline-none sm:w-[48%] w-full"
                />
              </form>
            </div>
          </div>
        </div>
        <!-- ----- All users -->
        <div
          class="allusers-container poppins py-20 lg:w-[50%] sm:w-[75%] w-[100%] sm:px-10 px-5 hidden"
        >
          <div class="allusers flex flex-col gap-8">
            <div class="heading">
              <p class="text-4xl font-bold poppins">All Users</p>
            </div>
            <div class="allusers-cards">
              <div
                class="card flex flex-row md:text-[18px] sm:text-[16px] text-[12px] font-medium items-center bg-ivorywhite border border-[#1c1c1c] sm:pr-5 pr-1"
              >
                <div class="w-[25%]">
                  <div
                    class="bg-golden md:w-[100px] md:h-[100px] w-[40px] h-[40px] flex justify-center items-center"
                  >
                    <img
                      src="/images/imgs/user-dp.svg"
                      alt=""
                      class="w-full md:w-[80px] md:h-[80px] w-[40px] h-[40px]"
                    />
                  </div>
                </div>

                <span class="w-[25%]">User Name</span>
                <span class="w-[25%]">User Email</span>
                <span class="w-[25%]">User Number</span>
                <span class="w-[25%]">User Id</span>
              </div>
            </div>
          </div>
        </div>
        <!-- --- All Products -->

        <div class="allproducts-container pt-20 px-3 md:w-[75%] w-full">
          <div class="flex justify-center">
            <div class="w-full">
              <div class="heading">
                <p class="text-4xl font-bold poppins">All Products</p>
              </div>
              <div
                class="w-full flex justify-center sm:justify-normal items-center"
              >
                <div
                  class="allproducts w-full sm:grid grid-cols-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 sm:h-[600px] overflow-y-auto px-4 py-10 gap-[10px]"
                >
                  <!-- ------------ -->
                  <div
                    class="product border-2 relative border-solid border-[#d4af37] mb-5 float xl:w-[200px] md:-[150px] w-full"
                  >
                    <div class="product-card">
                      <div class="flex justify-center">
                        <img
                          src="/images/product-imgs/img-1.svg"
                          class="xl:h-[250px] md:h-[230px] h-[250px] w-full"
                          alt=""
                        />
                      </div>
                      <div
                        class="product-detail poppins flex justify-between items-center bg-charcolblack text-ivorywhite p-5"
                      >
                        <div class="text-detail">
                          <p class="name sm:text-[18px] text-[16px]">
                            Almond Shirt
                          </p>
                          <div class="price sm:text-[18px] text-[16px]">
                            Rs 3000
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ------------ -->
                  <div
                    class="product border-2 relative border-solid border-[#d4af37] mb-5 float xl:w-[200px] md:-[150px] w-full"
                  >
                    <div class="product-card">
                      <div class="flex justify-center">
                        <img
                          src="/images/product-imgs/img-2.svg"
                          class="xl:h-[250px] md:h-[230px] h-[250px] w-full"
                          alt=""
                        />
                      </div>
                      <div
                        class="product-detail poppins flex justify-between items-center bg-charcolblack text-ivorywhite p-5"
                      >
                        <div class="text-detail">
                          <p class="name sm:text-[18px] text-[16px]">
                            Almond Shirt
                          </p>
                          <div class="price sm:text-[18px] text-[16px]">
                            Rs 3000
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ------------ -->
                  <div
                    class="product border-2 relative border-solid border-[#d4af37] mb-5 float xl:w-[200px] md:-[150px] w-full"
                  >
                    <div class="product-card">
                      <div class="flex justify-center">
                        <img
                          src="/images/product-imgs/img-3.svg"
                          class="xl:h-[250px] md:h-[230px] h-[250px] w-full"
                          alt=""
                        />
                      </div>
                      <div
                        class="product-detail poppins flex justify-between items-center bg-charcolblack text-ivorywhite p-5"
                      >
                        <div class="text-detail">
                          <p class="name sm:text-[18px] text-[16px]">
                            Almond Shirt
                          </p>
                          <div class="price sm:text-[18px] text-[16px]">
                            Rs 3000
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ------------ -->
                  <div
                    class="product border-2 relative border-solid border-[#d4af37] mb-5 float xl:w-[200px] md:-[150px] w-full"
                  >
                    <div class="product-card">
                      <div class="flex justify-center">
                        <img
                          src="/images/product-imgs/img-4.svg"
                          class="xl:h-[250px] md:h-[230px] h-[250px] w-full"
                          alt=""
                        />
                      </div>
                      <div
                        class="product-detail poppins flex justify-between items-center bg-charcolblack text-ivorywhite p-5"
                      >
                        <div class="text-detail">
                          <p class="name sm:text-[18px] text-[16px]">
                            Almond Shirt
                          </p>
                          <div class="price sm:text-[18px] text-[16px]">
                            Rs 3000
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ------------ -->
                  <div
                    class="product border-2 relative border-solid border-[#d4af37] mb-5 float xl:w-[200px] md:-[150px] w-full"
                  >
                    <div class="product-card">
                      <div class="flex justify-center">
                        <img
                          src="/images/product-imgs/img-5.svg"
                          class="xl:h-[250px] md:h-[230px] h-[250px] w-full"
                          alt=""
                        />
                      </div>
                      <div
                        class="product-detail poppins flex justify-between items-center bg-charcolblack text-ivorywhite p-5"
                      >
                        <div class="text-detail">
                          <p class="name sm:text-[18px] text-[16px]">
                            Almond Shirt
                          </p>
                          <div class="price sm:text-[18px] text-[16px]">
                            Rs 3000
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ------------ -->
                  <div
                    class="product border-2 relative border-solid border-[#d4af37] mb-5 float xl:w-[200px] md:-[150px] w-full"
                  >
                    <div class="product-card">
                      <div class="flex justify-center">
                        <img
                          src="/images/product-imgs/img-10.svg"
                          class="xl:h-[250px] md:h-[230px] h-[250px] w-full"
                          alt=""
                        />
                      </div>
                      <div
                        class="product-detail poppins flex justify-between items-center bg-charcolblack text-ivorywhite p-5"
                      >
                        <div class="text-detail">
                          <p class="name sm:text-[18px] text-[16px]">
                            Almond Shirt
                          </p>
                          <div class="price sm:text-[18px] text-[16px]">
                            Rs 3000
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ------------ -->
                  <div
                    class="product border-2 relative border-solid border-[#d4af37] mb-5 float xl:w-[200px] md:-[150px] w-full"
                  >
                    <div class="product-card">
                      <div class="flex justify-center">
                        <img
                          src="/images/product-imgs/img-6.svg"
                          class="xl:h-[250px] md:h-[230px] h-[250px] w-full"
                          alt=""
                        />
                      </div>
                      <div
                        class="product-detail poppins flex justify-between items-center bg-charcolblack text-ivorywhite p-5"
                      >
                        <div class="text-detail">
                          <p class="name sm:text-[18px] text-[16px]">
                            Almond Shirt
                          </p>
                          <div class="price sm:text-[18px] text-[16px]">
                            Rs 3000
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ------------ -->
                  <div
                    class="product border-2 relative border-solid border-[#d4af37] mb-5 float xl:w-[200px] md:-[150px] w-full"
                  >
                    <div class="product-card">
                      <div class="flex justify-center">
                        <img
                          src="/images/product-imgs/img-7.svg"
                          class="xl:h-[250px] md:h-[230px] h-[250px] w-full"
                          alt=""
                        />
                      </div>
                      <div
                        class="product-detail poppins flex justify-between items-center bg-charcolblack text-ivorywhite p-5"
                      >
                        <div class="text-detail">
                          <p class="name sm:text-[18px] text-[16px]">
                            Almond Shirt
                          </p>
                          <div class="price sm:text-[18px] text-[16px]">
                            Rs 3000
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ------------ -->
                  <div
                    class="product border-2 relative border-solid border-[#d4af37] mb-5 float xl:w-[200px] md:-[150px] w-full"
                  >
                    <div class="product-card">
                      <div class="flex justify-center">
                        <img
                          src="/images/product-imgs/img-8.svg"
                          class="xl:h-[250px] md:h-[230px] h-[250px] w-full"
                          alt=""
                        />
                      </div>
                      <div
                        class="product-detail poppins flex justify-between items-center bg-charcolblack text-ivorywhite p-5"
                      >
                        <div class="text-detail">
                          <p class="name sm:text-[18px] text-[16px]">
                            Almond Shirt
                          </p>
                          <div class="price sm:text-[18px] text-[16px]">
                            Rs 3000
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ------------ -->
                  <div
                    class="product border-2 relative border-solid border-[#d4af37] mb-5 float xl:w-[200px] md:-[150px] w-full"
                  >
                    <div class="product-card">
                      <div class="flex justify-center">
                        <img
                          src="/images/product-imgs/img-9.svg"
                          class="xl:h-[250px] md:h-[230px] h-[250px] w-full"
                          alt=""
                        />
                      </div>
                      <div
                        class="product-detail poppins flex justify-between items-center bg-charcolblack text-ivorywhite p-5"
                      >
                        <div class="text-detail">
                          <p class="name sm:text-[18px] text-[16px]">
                            Almond Shirt
                          </p>
                          <div class="price sm:text-[18px] text-[16px]">
                            Rs 3000
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer') %>

    <script src="/javascripts/admin.js"></script>
  </body>
</html>
